<header class="header">
    <div class="container">
      <a href="/home" class="logo">Diary</a>
      <nav>
        <ul class="nav-links">
          <!-- <li><a href="/explore">Explore</a></li> -->

          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
                    <li><a href="/trip-planner"> Plan</a></li>
                    <li><a href="/data">Colors </a></li>
          <li><a href="/comments">Comments </a></li>
        </ul>
      </nav>
    </div>
  </header>
